/* COLOR PALETTE: https://coolors.co/12161f-1a202c-61c9a8-ffed66 */

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: max(6vw, 40px);
    color: #61c9a8;
}

h2 {
    font-size: max(3.4vw, 20px);
}

p {
    font-size: max(1.5vw, 16px);
}

nav {
    position: fixed;
    background-color: #12161F;
    top: 0px;
    width: 100%;
    line-height: 1;
    box-shadow: 0 2px 4px #1a1a1a;
    font-weight: bold;
}

.nav-options {
    list-style: none;
    overflow: hidden;
}

li {
    float: left;
}

.nav-options a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

.nav-options a:hover {
    color: #12161F;
    background-color: white;
    padding: 10px 20px;
    margin: 14px 6px;
    border-radius: 50px;
}

.content {
    background-color: #1A202C;
    color: white;
}

#home, 
#about,
#projects {
    width: 70%;
    height: 100vh;
    margin: 0 auto 0;
    padding-top: 100px;
}

#home {
    padding: 50vh 0 0 0;
    height: 50vh;
}

#about {
}

#projects {
}

.project {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    color: inherit;
    padding: 8px;
}

.project-technologies,
.project-links {
    display: flex;
    gap: 8px;
}

.project-technologies li, 
.project-links li {
    list-style: none;
    border: none;
    background-color: #61c9a8;
    color: black;
    border-radius: 50px;
    padding: 2px 16px;
}

.project-links a {
    color: black;
    text-decoration: none;
}

.project-expand-button {
    border: none;
    border-top: 3px solid white;
    background-color: inherit;
    color: inherit;
    text-align: left;
}

.project-expand-button-text *,
.project-expandable * {
    padding-bottom: 8px;
}

.project-expandable {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.project-notes {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style-type: disc;
    padding-left: 18px;
}


