/* COLOR PALETTE: https://coolors.co/12161f-1a202c-61c9a8-ffed66 */

* {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-weight: 200;
}

h1 {
    font-size: max(5vw, 40px);
    font-weight: 600;
    color: #61c9a8;
}

h2 {
    font-size: max(3vw, 36px);
}

p {
    font-size: max(1.5vw, 20px);
}

a {
    text-decoration: none;
}

.section-title {
    font-weight: 600;
    padding-bottom: 20px;
}

li {
    list-style: none;
}

nav {
    position: fixed;
    background-color: #12161F;
    top: 0px;
    width: 100%;
    line-height: 1;
    box-shadow: 0 2px 4px #1a1a1a;
    font-weight: 200;
    color: white;
}

.nav-logo {
    float: left;
    font-size: inherit;
    font-weight: inherit;
    padding: 24px 26px 24px 52px;
}

.nav-options {
    overflow: hidden;
    padding-right: 26px;
    float: right;
}

.nav-options li {
    display: inline-block;   
}

.nav-options a {
    display: block;
    color: inherit;
    padding: 24px 26px;
}

.nav-options a:hover {
    color: #12161F;
    background-color: white;
    padding: 10px 20px;
    margin: 14px 6px;
    border-radius: 50px;
}

.content,
.footer {
    background-color: #1A202C;
    color: white;
}

#home, 
#about,
#projects {
    width: 60%;
    margin: auto;
    padding: 100px 0;
}

#home .image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #61c9a8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto 100px;
}

#home img {
    width: 115%;
    height: 115%
}

.project {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    color: inherit;
}

.project h2 {
    color: #61c9a8
}

.project h2,
.project h3 {
    font-weight: 400;
}

.project-expand-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-top: 3px solid white;
    background-color: inherit;
    color: inherit;
    text-align: left;
    padding: 10px 0;
}

.project-expand-button svg{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.project-expand-button-text *,
.project-expandable * {
    padding-bottom: 6px;
}

.project-expandable {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.project-notes {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 26px;
}

.project-notes li {
    list-style: disc outside;
}

.project-technologies,
.project-links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-technologies li {
    border: none;
    background-color: #61c9a8;
    color: black;
    border-radius: 12px;
    padding: 2px 16px;
}

.project-links svg {
    height: 50px;
    width: 50px;
    padding-top: 8px;
}

.project-links li {
    height: 50px;
    width: 50px;
}

.footer {
    padding-bottom: 20px;
    text-align: center;
}

.footer li {
    display: inline-block;
    padding: 10px 20px; 
}

.footer svg {
    height: 50px;
    width: 50px;
}